@import './variables.scss';

.toolbar {
	height: $toolbar-height;
	background-color: white;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-shadow: 0 4px 5px gray;
	z-index: 10;

	&__btn {
		width: 35px;
		height: 35px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: white;

		&:hover {
			background-color: rgb(206, 205, 205);
		}
	}

	.selected {
		background-color: rgb(206, 205, 205);
	}
	.undo {
		margin-left: auto;
	}
}

.setting-bar {
	height: $toolbar-height;
	background-color: white;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	box-shadow: 0 4px 5px gray;
	top: $toolbar-height;

	label {
		margin-right: 5px;
	}

	input {
		margin-right: 1rem;
	}
}
